* {
  margin: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden
}

nav {
  position:  fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #eee;
}

#container {
  height: 100%
}

.canvas {
  position: absolute;
}

.line {
  width: 0;
}

.pencil {
  left: -0.5px;
  top: -0.5px;
}
.pencil * {
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 1px;
}

.brush {
  position: relative;
  left: 6px;
  top: 6px;
}
.brush * {
  color: inherit;
  border: 6px solid currentColor;
  border-radius: 6px;
}

.spray-can * {
  color: inherit;
  box-shadow: 0 0 120px 40px currentColor;
}
